* {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  margin: 5px;
  background-color: rgb(46, 46, 46);
}

.container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  background: #17181a;
  border-radius: 20px;
  padding: 2rem;
}

input,
button {
  font-size: 2rem;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 20px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #232428;
  transition: 0.3s;
  color: #fff;
}

input:hover {
  opacity: 0.75;
}

button:hover {
  opacity: 0.75s;
}

.output {
  width: 99.5%;
  height: 7rem;
  cursor: text;
  background: #232428;
  border-radius: 15px;
}

.grid-1x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-content: center;
}

.span-button-2 {
  grid-column: 1 / span 2;
  width: 100%;
}

.clear-button {
  background: #31181e;
  color: #965460;
}

.operation {
  background: #ff9600;
}

.green-button {
  background: #2cc572;
  grid-column: 3 / span 2;
  width: 100%;
}
